/* -------------------------
            RESET
--------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* -------------------------
            General
--------------------------- */

.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------
            General
--------------------------- */

header{
    background-color: #ff6900;
    color: #ffffff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.categoria a{
    text-decoration: none;
    color: #ffffff;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.logo{
    height: 30px;
}




 