/* -------------------------
            RESET
--------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* -------------------------
            General
--------------------------- */

.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------
            header
--------------------------- */

header{
    background-color: #ff6900;
    color: #ffffff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 60px;
}

.categoria a{
    text-decoration: none;
    color: #ffffff;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.logo{
    height: 30px;
    cursor: pointer;
}

header i{
    margin-left: 5px;
    cursor: pointer;
}

/* -------------------------
           main
--------------------------- */

.row{
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

.col{
    
    width: calc(100% / 3);
}

.img-fluid{
    position: relative;
}

.col img{
    width: 100%;
    cursor: pointer;
}

.front-img{
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: 0.5s;
}

.front-img:hover{
    opacity: 0;
    transition: 0.5s;
}

.back-img{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

/* heart */

.heart{
    background-color: #ffffff;
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 0;
    padding: 9px 10px;
    cursor: pointer;
}
.heart i{
    font-size: 20px;
}

/* colored-box */

.color-box{
    display: flex;
    gap: 5px;
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 40px;
    
}

.discount{
    background-color: #ff0000;
    color: #ffffff;
    font-size: 12px;
    padding: 8px;
}

.sost{
    background-color: #008000;
    color: #ffffff;
    font-size: 12px;
    padding:8px
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description h3{
    cursor: pointer;
}

.cost{
    display: flex;
    gap: 5px;
}

.cost-red{
    font-weight: 600;
    color: #ff0000;
}

.cost-black{
    text-decoration: line-through;
}

/* ----------------------
        FOOTER
------------------------*/

footer{
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

.footer-left h3{
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-left a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
}

.footer-right h3{
    margin-bottom: 10px;
}

.footer-right .icon{
    font-size: 30px;
    cursor: pointer;
}

/* ---------------------
            HOVER
------------------------*/

.categoria a:hover{
    text-decoration: underline;
}

.heart:hover{
    color: #ff0000;
}

.description h3:hover{
    color: rgb(100, 100, 100);
}

.footer-left a:hover{
    text-decoration: underline;
}